.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-item {
  padding: 15px;
  color: #ffffff;
  background-color: skyblue;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
}

.pagination-item:hover {
  cursor: pointer;
}

.pagination-item.active {
  background-color: red;
}

.pagination-item:not(:last-child) {
  margin-right: 20px;
}
